{% extends 'base.html' %}
{% from 'macros.html' import render_input_errors %}


{% block title %}
  Login
{% endblock title %}


{% block content %}
<div class='max-w-sm mx-auto'>
  <h1 class='text-lg font-bold pb-4'>Create Source</h1>
  <form method='POST'>
    {{ form.csrf_token() }}
    {{ form.name(class_='w-full p-2 mb-2 bg-transparent border border-gray-300 outline-none') }}
    {{ render_input_errors(form.name.errors) }}

    {{ form.password(class_='w-full p-2 mb-3 bg-transparent border border-gray-300 outline-none') }}
    {{ render_input_errors(form.password.errors) }}

    {{ form.submit(class_='w-full p-2 border border-gray-300 text-sm font-bold rounded outline-none') }}
  </form>
</div>
{% endblock content %}
