{% extends 'layouts/base.html' %}
{% from 'macros.html' import render_sources %}


{% block title %}
  {{ current_user.name }}
{% endblock title %}


{% block content %}
  <h1 class='pb-2 text-2xl font-bold'>{{ current_user.name }}</h1>
  <p class='pb-2 text-sm text-gray-600'>Form {{ current_user.created_at }}</p>
  <form class='pb-3' action='{{ url_for("logout") }}' method='post'>
    <input class='text-red-600 text-sm bg-transparent outline-none cursor-pointer' type='submit' value='Logout'>
  </form>
  <div>
    {{ render_sources(current_user.sources) }}
  </div>

{% endblock content %}
