{% extends 'layouts/base.html' %}
{% from 'macros.html' import render_input_errors, render_source_info %}


{% block title %}
  Source: {{ source.title }}
{% endblock title %}


{% block content %}
  <form class='mb-4' method='post'>
    {{ form.csrf_token() }}

    {{ form.title(class_='w-full py-2 mb-2 text-2xl font-bold bg-transparent outline-none') }}
    {{ render_input_errors(form.title.errors) }}

    {{ render_source_info(source) }}

    {{ form.url(class_='w-full py-2 mb-2 text-lg bg-transparent outline-none') }}
    {{ render_input_errors(form.url.errors) }}

    <a class='py-2 px-4 mr-2 border border-gray-300 bg-gray-100 text-sm font-bold rounded' href='{{ source.url }}' target='_blank' rel="nofollow noopener">
      Open source url
    </a>

    {{ form.submit(class_='py-2 px-4 border border-gray-300 bg-gray-100 text-sm font-bold rounded outline-none cursor-pointer') }}
  </form>
  <form class='border-t border-gray-300' method='post' action='{{ url_for("delete_source", id=source.id) }}'>
    <input class='py-2 text-red-600 text-sm bg-transparent outline-none cursor-pointer' type='submit' value='Delete source?'>
  </form>
{% endblock content %}
