<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {% block styles %}{% endblock styles %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  {% from 'macros.html' import render_messages %}
  {{ render_messages(get_flashed_messages(True), 'p-2 text-center bg-blue-100', 'p-2 text-center bg-red-100') }}
  <div class='py-8 px-4 mx-auto max-w-screen-sm'>
    {% block content %}{% endblock content %}
  </div>
</body>
{% block scripts %}{% endblock scripts %}
</html>