<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/assets/css/index.css'>
  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body class='bg-gray-50'>
  {% include 'includes/navbar.html' %}

  <div class='py-8 px-4 mx-auto max-w-screen-sm'>
    {% block content %}{% endblock content %}
  </div>
</body>
<script src='/assets/js/index.js'></script>
</html>