<nav class='flex justify-between border-b border-gray-300 bg-white'>
  <a class='py-2 px-2 font-medium' href='{{ url_for("index") }}'>HUB</a>
  <ul class='flex items-center'>
    <li class='py-2 px-2'>
      <a href='{{ url_for("index") }}'>Home page</a>
    </li>
    <li class='py-2 px-2 border-r'>
      <a href='{{ url_for("create") }}'>Create</a>
    </li>
    <li class='py-2 px-2 border-gray-300'>
      {% if current_user.is_authenticated %}
        <a href='{{ url_for("user", id=current_user.id) }}'>Logged in as {{ current_user.name }}</a>
      {% else %}
        <a href='{{ url_for("login") }}'>login</a>
      {% endif %}
    </li>
  </ul>
</nav>