{% macro render_messages(messages, success_class, error_class) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class='{{ success_class if category == "success" else error_class }}'>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_input_errors(errors) %}
  {% if errors %}
    <ul class='pl-2 mb-2 list-disc list-inside'>
      {% for error in errors %}
        <li class='pb-1 text-sm text-red-500'>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_source_info(source) %}
  <p class='pb-2 text-sm text-gray-600'>Created at {{ source.created_at.date() }} by <a class='underline' href='{{ url_for("user", id=source.author.id) }}'>{{ source.author.name }}</a></p>
{% endmacro %}

{% macro render_sources(sources) %}
  {% if sources %}
    {% for source in sources %}
      <div class='px-4 py-2 mb-2 border border-gray-300 rounded hover:bg-gray-100'>
        <h6 class='text-lg font-bold'>{{ source.title }}</h6>
        {{ render_source_info(source) }}
        <a class='text-blue-500' href='{{ url_for("source_edit", id=source.id) }}'>View source</a>
      </div>
    {% endfor %}
  {% else %}
    No sources are provided.
  {% endif %}
{% endmacro %}